/* Global Variables */
:root {
  --background-color: #ffffff;
  --primary-color: #FD0B13;
  --primary-color-medium: #e90a12;
  --primary-color-dark: #B60205;
  --gray-color: #D9D9D9;
  --border-radius: 12px;
}

/* Text Selection Color */
::selection {
  background: rgba(0,0,0,.2);
}

::-moz-selection {
  background: rgba(0,0,0,.2);
}

/* Global Styling */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: linear-gradient(rgba(255, 255, 255,.8), rgba(255, 255, 255,.8)), url('/img/lines.svg');
  background-repeat: repeat;
}

html.modalActive {
  overflow: hidden;
}

html.modalActive body {
  overflow-y: scroll;
}

p {
  line-height: 1.3rem;
}

.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.styledTextMedium,
.styledTextLarge {
  color: white;
  --stroke-color: black;

  text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0 var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0 var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0 var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0 var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0 var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0 var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0 var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0 var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0 var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0 var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0 var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0 var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0 var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0 var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0 var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0 var(--stroke-color);
}

.styledTextLarge {
  font-size: 3rem;
  --stroke-width: 3px;
  /* -webkit-text-stroke: 8px black; */
  /* paint-order: stroke fill; */
}

.styledTextMedium {
  font-size: 1.5rem;
  font-weight: bold;
  --stroke-width: 2px;
  /* -webkit-text-stroke: 4px black; */
  /* paint-order: stroke fill; */
}

.styledWhiteBackground {
  background: url('/img/linesg.svg') white;
  background-size: cover;
  background-position: bottom;
}

.styledRedBackground {
  background: url('/img/linesr.svg') var(--primary-color);
  background-size: cover;
  background-position: bottom;
}

.grecaptcha-badge {
  display: none !important;
}

@media (min-width: 800px){
  body {
    background-size: 1050px;
  }
}

@media (max-width: 1920px){
  .container {
    max-width: 90%;
  }
}