.heroSection {
    height: 100vh;
    background: transparent;
    overflow: hidden;
    position: relative;
}

.heroSection:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100px;
    
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

.contentWrapper {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.contentWrapper > div {
    flex-grow: 1;
}


/* Left side */
.infoWrapper {
    margin-right: 1rem;
    min-width: 30vw;
}

.heading {
    font-size: 6rem;
    font-family: var(--font-barlow-condensed);
    line-height: 5rem;
    letter-spacing: -2px;
    margin: 0;
}

.subheading {
    font-size: 1.9rem;
    margin: 1rem 0;
    line-height: inherit;
}

.buttonGroup {
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    width: auto;
}


/* Right side */
.imagesCircleWrapper {
    position: relative;
    height: 100%;
    width: 100%;
    --circle-size: 150vh;
    max-width: var(--circle-size);
}

.imagesWrapper {
    position: absolute;
    top: calc(var(--circle-size) / -2.35);
    left: 0;
    overflow: hidden;
    
    height: var(--circle-size);
    width: var(--circle-size);
    border-radius: var(--circle-size);
    min-height: 900px;
    min-width: 900px;
    
    background: var(--primary-color);
    /* border-bottom: 1.4rem solid rgba(0,0,0,.15); */
    box-shadow: 5px 10px 0 15px rgba(0,0,0,.1), inset -5px -10px 0 15px rgba(0,0,0,.1);

    display: flex;
    align-items: flex-end;
}

.imagesRowsWrapper {
    width: 80%;
    height: 100%;
    display: flex;
    transform: skew(10deg) rotate(-10deg);
    justify-content: space-evenly;
    --card-speed: 150s;
    --animation-state: unset;
}

.imagesRow {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 18%;
}

.imagesRow picture img {
    margin: 2rem 0;
    border-radius: 10px;
    width: 100%;
    height: auto;
    box-shadow: -7px 8px 5px 5px rgba(0,0,0,.2);

    position: relative;
    bottom: unset;
    
    --image-start: -30px;
    --image-end: 0px;

    animation-name: heroSubtleAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    opacity: 0;
}

.imagesRow picture img[src*='webp'] {
    min-height: 280px;
}

.imagesRow img[src*='svg'] {
    height: 100px;
    max-height: 150px;
    box-shadow: none;
}


/* Subtle animations */
.imagesRow picture:nth-child(2) img{
    animation-delay: 1s;
}

.imagesRow picture:nth-child(3) img{
    animation-delay: 1.5s;
}

.imagesRow:nth-child(2n) img{
    --image-end: -30px;
    --image-start: 0px;
}

@keyframes heroSubtleAnimation {
    from {
        opacity: 0;
        transform: translateY(var(--image-start));
    }
    to {
        opacity: 1;
        transform: translateY(var(--image-end));
    }
}


/* Media Queries */
@media (min-width: 1921px){
    .infoWrapper {
        min-width: 20%;
    }

    .imagesRowsWrapper {
        width: 100%;
    }

    .imagesRow {
        width: 15%;
    }
}

@media (max-width: 767px){
    .heroSection {
        height: auto;
        padding-bottom: 130px;
    }

    .heroSection:after {
        height: 100px;
    }
    
    .contentWrapper {
        flex-direction: column;
    }

    .infoWrapper {
        margin: 3rem 0 5rem;
    }

    .imagesCircleWrapper {
        --circle-size: 150vw;
    }

    .imagesWrapper {
        top: 0;
        left: 50%;
        transform: translateX(calc(-50% + 30px));
        position: relative;
        overflow: visible;
        border-radius: calc(var(--circle-size) * 5);
        justify-content: center;
        min-width: 600px;
        min-height: 600px;
        box-shadow: 5px 4px 0 10px rgba(0,0,0,.1), inset -5px -10px 0 10px rgba(0,0,0,.1);
    }

    .imagesRow {
        justify-content: center;
        width: 22%;
    }
    
    .imagesRow img {
        margin: 1rem 0;
    }

    .imagesRow picture img[src*='webp'] {
        min-height: 22vw;
        box-shadow: -6px 6px 6px 3px rgba(0,0,0,.2)
    }

    .imagesRow img[src*='svg'] {
        height: 15vw;
        max-height: 15vw;
    }
}

@media (min-width: 501px) and (max-width: 1350px){
    .imagesRowsWrapper {
        width: 65%;
    }

    .imagesRow {
        width: 22%;
    }
}

@media (max-width: 500px){
    .contentWrapper > div {
        width: 80%;
    }
    
    .heading {
        font-size: 4rem;
        line-height: 3.5rem;
    }

    .subheading {
        font-size: 1.5rem;
        margin: .6rem 0;
    }

    .logoWrapper img {
        width: 65px;
        height: 65px;
    }

    .imagesRow img {
        margin: 2rem 0;
        border-radius: 10px;
        width: 100% !important;
        height: auto !important;
        box-shadow: -3px 5px 6px 3px rgba(0,0,0,.2);
    }
}

@media (max-height: 800px) and (max-width: 1023px) {
    .heroSection {
        min-height: 1000px;
    }
}

@media (max-height: 700px){
    .heroSection {
        min-height: 900px;
    }
    
    .imagesRowsWrapper {
        width: 80%;
    }

    .imagesRow {
        width: 18%;
    }
}
