.card {
    display: inline-block;
    border: 1px solid rgba(0,0,0,.2);
    width: 100%;
    border-radius: var(--border-radius);
    text-align: center;
}

.imageWrapper {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    overflow: hidden;
    position: relative;
}

.imageWrapper img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: -5px;
}

.nameWrapper {
    width: calc(100% + 15px);
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    padding: .5rem;
    border: 2px solid var(--primary-color-dark);
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(0,0,0,.3);
}

.nameWrapper h2 {
    margin: 0;
}

.description {
    padding: 1rem 1.5rem;
    margin: 0;
}

.footer {
    border-top: 1px solid rgba(0,0,0,.2);
    background: url('/img/linesg.svg');
    background-size: cover;
    background-position: bottom;
    padding: .1rem 1.5rem .3rem;
}

@media (max-width: 425px){
    .nameWrapper {
        width: calc(100% + 8px);
    }

    .description {
        padding: 1rem;
    }
}